<div id="gridFinalToPDF">
    <div class="content-wrap">
        <div id="mergeTables">

        </div>
        <div class="container-fluid px-lg-5">
            <div class="form-group">
                <button class="btn btn-success" ng-click="vm.createObjectsHistorico()">Guardar los resultados obtenidos en el Historico</button><br />
            </div>
            <div class="form-group">
                <input type="button" onclick="crearReportePDF(); iframeSet();" class="btn btn-danger" value="Exportar reporte a PDF" />
            </div>
            <div class="form-group">
                <input type="button" value="Guardar en el servidor" class="btn btn-info" ng-show="vm.urlApis == 'http://localhost:11124/'" ng-click="vm.SaveServer()" />
            </div>
            <div class="form-group">
                <input type="button" onclick="window.location.href = '/reporteoClima/Index/'";" class="btn btn-info" value="Generar nuevo reporte" />
            </div>

            <iframe id="display" style="width: 100%; height: 1366px;" hidden></iframe>
            <div class="clearfix"></div>
            <div hidden id="mergeDataCorpo"></div>
            <div hidden class="clearfix"></div>
            <iframe hidden ng-show="vm.reportePDF == true" id="result" style="width: 100%; height: 95vh"></iframe>
        </div>
    </div>
</div>