<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <h2 class="robotothin mb-2 mt-n1">INTRODUCCIÓN</h2>
        <div class="card mb-4 mb-md-0 p-0">
            <div class="card-block p-0">
                <div class="row introduccion-bg">
                    <div class="col-xl-7">
                        <img src="~/img/ReporteoClima/clima-logo.png" class="img-fluid mb-3"><br>
                        <h1 class="robotoblack text-white mb-5">Las mejores empresas para trabajar se distinguen porque en ellas...</h1>
                        <h2 class="text-white">
                            <i class="fa fa-arrow-right"></i> Se logran y exceden los <strong>objetivos</strong> del negocio.<br>
                            <i class="fa fa-arrow-right"></i> Todos dan lo <strong>mejor de sí</strong> mismos.<br>
                            <i class="fa fa-arrow-right"></i> Existe un sentido de <strong>equipo.</strong><br>
                        </h2>
                        <h2 class="text-white mb-5">...en un ambiente de <strong>ALTA CONFIANZA</strong>.</h2>
                    </div>
                    <div class="col-xl-5">
                        <img src="~/img/ReporteoClima/ejecutivos2.png" class="img-fluid mb-3"><br>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 564.51 1"><defs><style>
                                                                                             .cls-1 {
                                                                                                 fill: none;
                                                                                                 stroke: #f0af42;
                                                                                                 stroke-miterlimit: 10;
                                                                                             }
                    </style></defs>
                    <g id="Capa_2" data-name="Capa 2"><g id="Layer_1" data-name="Layer 1"><line class="cls-1" y1="0.5" x2="564.51" y2="0.5" /></g></g></svg>
                </div>
            </div><!--.card-block-->
        </div><!--.card-->
        <hr class="clearfix my-5">

    </div><!--.container-->

</div><!--.content-wrap-->
