<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <p class="mb-n1">Reporte</p>
        <h2 class="robotothin mb-2 mt-n1">DINÁMICO <span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <div class="card">
            <div class="card-block">
                <div class="px-4">
                    <div class="row mt-4 mb-4">
                        <div class="col-sm-12">
                            <div class="graph-wrapper grafica-dejar">
                                <center>
                                    <p class="robotobold titulo-grafica2">{{vm.UNSeleccionada}}</p><br>
                                    <i class="fa fa-caret-down text-black f-40 icono-down-center"></i>
                                </center>
                                <div class="row mb-5 mr-3 ml-3">                                       
                                    <div class="embed-responsive embed-responsive-4by3" style="height: 615px;">                               
                                        <div id="ifdinamico"></div>
                                    </div>
                                </div><!--.row-->
                            </div><!--.graph-wrapper-->
                        </div>                        
                    </div><!--.row-->
                </div>
            </div>
        </div>
        <hr class="clearfix my-5">
    </div><!--.container-->

</div><!--.content-wrap-->