<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"> </script> 
<script src="~/scripts/ReporteoClima/morris2.js"></script>
<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <h2 class="robotothin mb-2 mt-n1">REPORTE GENERAL <span class="robotobold yellow-clima area-empresa ml-3">Sistemas</span></h2>
        <div class="card">
            <div class="card-block">
                <div class="p-0">
                    <div class="row mt-5 mb-5 mr-5 ml-5">
                        <div class="col-sm scrolling-wrapper grafica-dejar reporte-general">
                            <div id="mergeDataCorpo">

                            </div>
                            @*<div id="graph" class="mb-4"></div>*@
                        </div>
                    </div>
                </div>
            </div><!--.card-block-->
        </div><!--.card-->
        <hr class="clearfix my-5">

    </div><!--.container-->
</div><!--.content-wrap-->
