<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <h2 class="robotothin mb-2 mt-n1">INDICADORES POR CATEGORÍA</h2>
        <div class="card mb-4 mb-md-0">
            <div class="card-block mt-5 mb-5">
                <div class="row">
                    <div class="col-xl-9 offset-xl-1"><center><div class="borde"></div></center></div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6 col-xl-3 mx-auto">
                        <center>
                            <img src="~/img/ReporteoClima/indicador-sol.png" class="img-fluid"><br>
                            <p class="mb-0">Entre</p>
                            <h3 class="yellow-clima robotobold">90% - 100%</h3>
                            <a href="#" class="btn btn-indicadores btn-lg mb-5">Capitalizar</a>
                        </center>
                    </div>
                    <div class="col-md-6 col-xl-3 mx-auto">
                        <center>
                            <img src="~/img/ReporteoClima/indicador-solnube.png" class="img-fluid"><br>
                            <p class="mb-0">Entre</p>
                            <h3 class="yellow-clima robotobold">80% y 89%</h3>
                            <a href="#" class="btn btn-indicadores btn-lg mb-5">Optimizar</a>
                        </center>
                    </div>
                    <div class="col-md-6 col-xl-3 mx-auto">
                        <center>
                            <img src="~/img/ReporteoClima/indicador-nube.png" class="img-fluid"><br>
                            <p class="mb-0">Entre</p>
                            <h3 class="yellow-clima robotobold">70% - 79%</h3>
                            <a href="#" class="btn btn-indicadores btn-lg mb-5">Mejorar</a>
                        </center>
                    </div>
                    <div class="col-md-6 col-xl-3 mx-auto">
                        <center>
                            <img src="~/img/ReporteoClima/indicador-lluvia.png" class="img-fluid"><br>
                            <p class="mb-0">Menor a</p>
                            <h3 class="yellow-clima robotobold">70%</h3>
                            <a href="#" class="btn btn-indicadores btn-lg mb-5">Corregir</a>
                        </center>
                    </div>
                </div>
            </div><!--.card-block-->
        </div><!--.card-->
        <hr class="clearfix my-5">

    </div><!--.container-->

</div><!--.content-wrap-->