<div class="content-wrap pb-2" ng-switch="vm.enfoqueSeleccionado">
    <!----Enfoque Ambos------->
    <div id="tab-indicadores-generales" class="container-fluid px-lg-5" ng-switch-when="0">
        <h2 class="robotothin mb-2 mt-n1">INDICADORES GENERALES <span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
        <div class="card">
            <div class="card-block">
                <div class="row px-4 mt-3">
                    <div class="container-fluid header-impulsores col-12">
                        <div class="row categoria-bl">
                            <div class="{{vm.ColIzq}}  pr-0">INDICADORES GENERALES</div>
                            <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                        </div>                       
                    </div>
                    <!--#region categorias-->
                    <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador1 track by $index">
                        <div class="{{vm.ColIzqA}}">
                            <div class="row">
                                <div class="col-1 align-middle icono-impulsores ">
                                    <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                                </div>
                                <div class="col-10 tablaimpulsores-izq">
                                    <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeParticipacion track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeParticipacion track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"  ng-repeat="itemGlobalEE in vm.PorcentajeCalificacionGlobalEE track by $index" ng-show="$parent.$index == 1" style="text-align:center;">                            
                            <div class="row"  ng-repeat="itemGlobalEA in vm.PorcentajeCalificacionGlobalEA track by $index" ng-show="$index == $parent.$index" style="text-align:center;">
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemGlobalEE) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemGlobalEE) }}" class="mt-2 {{ vm.setIcono(itemGlobalEE, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemGlobalEE }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemGlobalEE - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemGlobalEE, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemGlobalEA) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemGlobalEA) }}" class="mt-2 {{ vm.setIcono(itemGlobalEA, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemGlobalEA }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemGlobalEA - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemGlobalEA, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                           
                        <div class="col" ng-repeat="itemConfianzaEE in vm.PorcentajeNivelConfianzaEE track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                            <div class="row" ng-repeat="itemConfianzaEA in vm.PorcentajeNivelConfianzaEA track by $index" ng-show="$index == $parent.$index" style="text-align:center;">
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemConfianzaEE) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemConfianzaEE) }}" class="mt-2 {{ vm.setIcono(itemConfianzaEE, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemConfianzaEE }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemConfianzaEE - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemConfianzaEE, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemConfianzaEA) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemConfianzaEA) }}" class="mt-2 {{ vm.setIcono(itemConfianzaEA, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemConfianzaEA }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemConfianzaEA - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemConfianzaEA, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col" ng-repeat="itemCompromisoEE in vm.PorcentajeNivelDeCompromisoEE track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                            <div class="row" ng-repeat="itemCompromisoEA in vm.PorcentajeNivelDeCompromisoEA track by $index" ng-show="$index == $parent.$index" style="text-align:center;">
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemCompromisoEE) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemCompromisoEE) }}" class="mt-2 {{ vm.setIcono(itemCompromisoEE, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemCompromisoEE }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemCompromisoEE - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemCompromisoEE, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemCompromisoEA) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemCompromisoEA) }}" class="mt-2 {{ vm.setIcono(itemCompromisoEA, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemCompromisoEA }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemCompromisoEA - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemCompromisoEA, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                        <div class="col" ng-repeat="itemColaboracionEE in vm.PorcentajeNivelDeColaboracionEE track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                            <div class="row" ng-repeat="itemColaboracionEA in vm.PorcentajeNivelDeColaboracionEA track by $index" ng-show="$index == $parent.$index" style="text-align:center;">
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemColaboracionEE) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemColaboracionEE) }}" class="mt-2 {{ vm.setIcono(itemColaboracionEE, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemColaboracionEE }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemColaboracionEE - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemColaboracionEE, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                    <div class="{{ vm.setClase(itemColaboracionEA) }}">
                                        <center><img ng-src="{{ vm.setIcono(itemColaboracionEA) }}" class="mt-2 {{ vm.setIcono(itemColaboracionEA, 1) }}"></center>
                                        <div class="clima-porcentaje robotoblack porcentaje-clima">
                                            <p class="mb-n2 f-15">{{ itemColaboracionEA }}%</p>
                                            <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(itemColaboracionEA - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(itemColaboracionEA, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                           
                        </div>
                    <!--#endregion categorias-->
                </div>
                <div class="d-flex justify-content-center margin-reporte">
                    <div class="col-12 p-0 m-0">
                        <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----Enfoque Empresa------->
    <div id="tab-indicadores-generales" class="container-fluid px-lg-5" ng-switch-when="1">
        <h2 class="robotothin mb-2 mt-n1">INDICADORES GENERALES EE<span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
        <div class="card">
            <div class="card-block">
                <div class="row px-4 mt-3">
                    <div class="container-fluid header-impulsores col-12">
                        <div class="row categoria-bl">
                            <div class="{{vm.ColIzq}}  pr-0">INDICADORES GENERALES EE</div>
                            <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                        </div>
                    </div>
                    <!--#region categorias-->
                    <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador1 track by $index">
                        <div class="{{vm.ColIzq}}">
                            <div class="row">
                                <div class="col-1 align-middle icono-impulsores ">
                                    <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                                </div>
                                <div class="col-10 tablaimpulsores-izq">
                                    <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeParticipacion track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>                                       
                                        <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCalificacionGlobalEE track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelConfianzaEE track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelDeCompromisoEE track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelDeColaboracionEE track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion categorias-->
                </div>
                <div class="d-flex justify-content-center margin-reporte">
                    <div class="col-12 p-0 m-0">
                        <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----Enfoque Area------->
    <div id="tab-indicadores-generales" class="container-fluid px-lg-5" ng-switch-when="2">
        <h2 class="robotothin mb-2 mt-n1">INDICADORES GENERALES EA<span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
        <div class="card">
            <div class="card-block">
                <div class="row px-4 mt-3">
                    <div class="container-fluid header-impulsores col-12">
                        <div class="row categoria-bl">
                            <div class="{{vm.ColIzq}}  pr-0">INDICADORES GENERALES EA</div>
                            <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                        </div>
                    </div>
                    <!--#region categorias-->
                    <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador1 track by $index">
                        <div class="{{vm.ColIzq}}">
                            <div class="row">
                                <div class="col-1 align-middle icono-impulsores ">
                                    <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                                </div>
                                <div class="col-10 tablaimpulsores-izq">
                                    <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeParticipacion track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEA[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEA[0].NivelParticipacion) }}%</p>
                                        <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCalificacionGlobalEA track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEA[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEA[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelConfianzaEA track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEA[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEA[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelDeCompromisoEA track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEA[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEA[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeNivelDeColaboracionEA track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEA[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEA[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion categorias-->
                </div>
                <div class="d-flex justify-content-center margin-reporte">
                    <div class="col-12 p-0 m-0">
                        <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
