<!--Si se deben desplegar todas las entidades dependientes se usara <div class="head-impulsores" ng-repeat="item in vm.finalColumnas" >{{item.type}}: {{item.value}}</div>-->
<div class="content-wrap">
    <div id="tab-impulsores-clave" class="container-fluid px-lg-5">
        <h2 class="robotothin mb-2 mt-n1">IMPULSORES CLAVE <span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}@*Sistemas*@</span></h2>
        <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
        <div class="card">
            <div class="card-block ">
                <div class="row px-4 mt-3">
                    <div class="container-fluid header-impulsores col-12">
                        <div class="row  categoria-bl ">

                            <div class="col-10 p-0">IMPULSORES CLAVE</div>
                            <div class="col-2 col-md-2 col-sm-2" ng-switch="vm.enfoqueSeleccionado">
                                <div class="row p-0" ng-switch-when="0">
                                    <div class="col-6 p-0 m-0" style="text-align:center;">EE</div>
                                    <div class="col-6 p-0 m-0" style="text-align:center;">EA</div>
                                </div>
                                <div class="row p-0" ng-switch-when="1">
                                    <div class="col-6 p-0" style="text-align:center;">{{vm.UNSeleccionada}} EE</div>

                                </div>
                                <div class="row p-0" ng-switch-when="2">
                                    <div class="col-6 p-0" style="text-align:center;">{{vm.UNSeleccionada}} EA</div>
                                </div>
                            </div>
                        </div><!--.row-->
                    </div>
                    <!--#region categorias-->
                    <div class="col-10">                       
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">Coaching(Liderazgo)</h3><!--CAMBIAR TITULOS-->
                                <p class="mb-n1 grey-color">Efectividad en la gestión del desempeño</p>
                                <i class="f-13 yellow-clima">Predice posibilidades de desarrollo y mejora continua</i>
                            </div>
                        </div>
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">Habilidades Gerenciales</h3>
                                <p class="mb-n1 grey-color">Efectividad en la asignación y coordinación de equipos</p>
                                <i class="f-13 yellow-clima">Predice la posibilidad de lograr resultados</i>
                            </div>
                        </div>
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">Alineación estratégica</h3>
                                <p class="mb-n1 grey-color">Capacidad para producir inspiración y propósito</p>
                                <i class="f-13 yellow-clima">Impacta en el sentido de pertenencia del colaborador</i>
                            </div>
                        </div>
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq" style="padding: 40px 40px;">
                                <h3 class="robotoblack">Prácticas culturales</h3>
                                <p class="mb-n1 grey-color">Prácticas culturales favorables(trato humano, cercania y reconocimiento)</p>
                                <i class="f-13 yellow-clima">Impacta en la motivacion y compromiso</i>
                            </div>
                        </div>
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq" style="padding: 40px 40px;">
                                <h3 class="robotoblack">Manejo del cambio</h3>
                                <p class="mb-n1 grey-color">Efectividad en el manjejo del cambio(grado de certidumbre y seguridad)</p>
                                <i class="f-13 yellow-clima">Impacta en la productividad</i>
                            </div>
                        </div>
                        <div class="row mt-3 bg-impulsores">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="~/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">Procesos organizacionales</h3>
                                <p class="mb-n1 grey-color">Efectividad en la gestión de personal</p>
                                <i class="f-13 yellow-clima">Impacta en el sentido de justicia, equidad e imparcialidad</i>
                            </div>
                        </div>
                    </div>
                    <!--#endregion Seccion Categorias-->
                    <!--#region porentajes e iconos-->
                    <div class="col-2 p-0">
                        <div class="scrolling-wrapper">
                            <!--Primera y Segunda Columna-->
                            <!--debe ser un head-impulsores por cada entidad de la empresa-->
                            <div class="head-impulsores" style="display: block !important;">
                                <!---Switch por Enfoque CAMOS 03/08/2021---->
                                <div class="col-12 p-0 m-0" ng-switch="vm.enfoqueSeleccionado">
                                    <div class="col-12 p-0 m-0" ng-switch-when="0">
                                        <!--FILA 1 RECUADRO 1 Y 2 COACHING-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCoaching[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCoaching[0]) }}" style="{{ vm.setIcono(vm.PorcentajeCoaching[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCoaching[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCoaching[0] - vm.listDataHistoricoEE[0].Coaching) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCoaching[0], vm.listDataHistoricoEE[0].Coaching) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCoaching[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCoaching[1]) }}" style="{{ vm.setIcono(vm.PorcentajeCoaching[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCoaching[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCoaching[1] - vm.listDataHistoricoEA[0].Coaching) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCoaching[1], vm.listDataHistoricoEA[0].Coaching) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 2 RECUADRO 1 Y 2 HABILIDADES GERENCIALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeHabilidadesGerenciales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[0]) }}" style="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeHabilidadesGerenciales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeHabilidadesGerenciales[0] - vm.listDataHistoricoEE[0].HabilidadesGerenciales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeHabilidadesGerenciales[0], vm.listDataHistoricoEE[0].HabilidadesGerenciales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeHabilidadesGerenciales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[1]) }}" style="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeHabilidadesGerenciales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeHabilidadesGerenciales[1] - vm.listDataHistoricoEA[0].HabilidadesGerenciales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeHabilidadesGerenciales[1], vm.listDataHistoricoEA[0].HabilidadesGerenciales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 3 RECUADRO 1 Y 2 ALINEACION ESTRATEGICA-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeAlineacionEstrategica[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[0]) }}" style="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeAlineacionEstrategica[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeAlineacionEstrategica[0] - vm.listDataHistoricoEE[0].AlineacionEstrategica) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeAlineacionEstrategica[0], vm.listDataHistoricoEE[0].AlineacionEstrategica) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeAlineacionEstrategica[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[1]) }}" style="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeAlineacionEstrategica[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeAlineacionEstrategica[1] - vm.listDataHistoricoEA[0].AlineacionEstrategica) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeAlineacionEstrategica[1], vm.listDataHistoricoEA[0].AlineacionEstrategica) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 4 RECUADRO 1 Y 2 PRACTICAS CULTURALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajePracticasCulturales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajePracticasCulturales[0]) }}" style="{{ vm.setIcono(vm.PorcentajePracticasCulturales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajePracticasCulturales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajePracticasCulturales[0] - vm.listDataHistoricoEE[0].PracticasCulturales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajePracticasCulturales[0], vm.listDataHistoricoEE[0].PracticasCulturales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajePracticasCulturales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajePracticasCulturales[1]) }}" style="{{ vm.setIcono(vm.PorcentajePracticasCulturales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajePracticasCulturales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajePracticasCulturales[1] - vm.listDataHistoricoEA[0].PracticasCulturales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajePracticasCulturales[1], vm.listDataHistoricoEA[0].PracticasCulturales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 5 RECUADRO 1 Y 2 COMPEÑERISMO-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCambio[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCambio[0]) }}" style="{{ vm.setIcono(vm.PorcentajeCambio[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCambio[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCambio[0] - vm.listDataHistoricoEE[0].ManejoDelCambio) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCambio[0], vm.listDataHistoricoEE[0].ManejoDelCambio) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCambio[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCambio[1]) }}" style="{{ vm.setIcono(vm.PorcentajeCambio[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCambio[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCambio[1] - vm.listDataHistoricoEA[0].ManejoDelCambio) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCambio[1], vm.listDataHistoricoEA[0].ManejoDelCambio) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 6 RECUADRO 1 Y 2 PROCESOS ORGANIZACIONALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeProcesosOrganizacionales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[0]) }}" style="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeProcesosOrganizacionales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeProcesosOrganizacionales[0] - vm.listDataHistoricoEE[0].ProcesosOrganizacionales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeProcesosOrganizacionales[0], vm.listDataHistoricoEE[0].ProcesosOrganizacionales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeProcesosOrganizacionales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[1]) }}" style="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeProcesosOrganizacionales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeProcesosOrganizacionales[1] - vm.listDataHistoricoEA[0].ProcesosOrganizacionales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeProcesosOrganizacionales[1], vm.listDataHistoricoEA[0].ProcesosOrganizacionales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                    <div class="col-12 p-0 m-0" ng-switch-when="1">
                                        <!--FILA 1 RECUADRO 1 Y 2 COACHING-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCoaching[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCoaching[0]) }}" style="{{ vm.setIcono(vm.PorcentajeCoaching[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCoaching[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCoaching[0] - vm.listDataHistoricoEE[0].Coaching) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCoaching[0], vm.listDataHistoricoEE[0].Coaching) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 2 RECUADRO 1 Y 2 HABILIDADES GERENCIALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeHabilidadesGerenciales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[0]) }}" style="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeHabilidadesGerenciales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeHabilidadesGerenciales[0] - vm.listDataHistoricoEE[0].HabilidadesGerenciales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeHabilidadesGerenciales[0], vm.listDataHistoricoEE[0].HabilidadesGerenciales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 3 RECUADRO 1 Y 2 ALINEACION ESTRATEGICA-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeAlineacionEstrategica[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[0]) }}" style="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeAlineacionEstrategica[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeAlineacionEstrategica[0] - vm.listDataHistoricoEE[0].AlineacionEstrategica) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeAlineacionEstrategica[0], vm.listDataHistoricoEE[0].AlineacionEstrategica) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 4 RECUADRO 1 Y 2 PRACTICAS CULTURALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajePracticasCulturales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajePracticasCulturales[0]) }}" style="{{ vm.setIcono(vm.PorcentajePracticasCulturales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajePracticasCulturales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajePracticasCulturales[0] - vm.listDataHistoricoEE[0].PracticasCulturales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajePracticasCulturales[0], vm.listDataHistoricoEE[0].PracticasCulturales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 5 RECUADRO 1 Y 2 COMPEÑERISMO-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCambio[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCambio[0]) }}" style="{{ vm.setIcono(vm.PorcentajeCambio[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCambio[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCambio[0] - vm.listDataHistoricoEE[0].ManejoDelCambio) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCambio[0], vm.listDataHistoricoEE[0].ManejoDelCambio) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 6 RECUADRO 1 Y 2 PROCESOS ORGANIZACIONALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeProcesosOrganizacionales[0]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[0]) }}" style="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[0], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeProcesosOrganizacionales[0] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeProcesosOrganizacionales[0] - vm.listDataHistoricoEE[0].ProcesosOrganizacionales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeProcesosOrganizacionales[0], vm.listDataHistoricoEE[0].ProcesosOrganizacionales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                    <div class="col-12 p-0 m-0" ng-switch-when="2">
                                        <!--FILA 1 RECUADRO 1 Y 2 COACHING-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCoaching[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCoaching[1]) }}" style="{{ vm.setIcono(vm.PorcentajeCoaching[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCoaching[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCoaching[1] - vm.listDataHistoricoEA[0].Coaching) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCoaching[1], vm.listDataHistoricoEA[0].Coaching) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 2 RECUADRO 1 Y 2 HABILIDADES GERENCIALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeHabilidadesGerenciales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[1]) }}" style="{{ vm.setIcono(vm.PorcentajeHabilidadesGerenciales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeHabilidadesGerenciales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeHabilidadesGerenciales[1] - vm.listDataHistoricoEA[0].HabilidadesGerenciales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeHabilidadesGerenciales[1], vm.listDataHistoricoEA[0].HabilidadesGerenciales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 3 RECUADRO 1 Y 2 ALINEACION ESTRATEGICA-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeAlineacionEstrategica[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[1]) }}" style="{{ vm.setIcono(vm.PorcentajeAlineacionEstrategica[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeAlineacionEstrategica[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeAlineacionEstrategica[1] - vm.listDataHistoricoEA[0].AlineacionEstrategica) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeAlineacionEstrategica[1], vm.listDataHistoricoEA[0].AlineacionEstrategica) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 4 RECUADRO 1 Y 2 PRACTICAS CULTURALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajePracticasCulturales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajePracticasCulturales[1]) }}" style="{{ vm.setIcono(vm.PorcentajePracticasCulturales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajePracticasCulturales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajePracticasCulturales[1] - vm.listDataHistoricoEA[0].PracticasCulturales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajePracticasCulturales[1], vm.listDataHistoricoEA[0].PracticasCulturales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 5 RECUADRO 1 Y 2 COMPEÑERISMO-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeCambio[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeCambio[1]) }}" style="{{ vm.setIcono(vm.PorcentajeCambio[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeCambio[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeCambio[1] - vm.listDataHistoricoEA[0].ManejoDelCambio) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeCambio[1], vm.listDataHistoricoEA[0].ManejoDelCambio) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <!--FILA 6 RECUADRO 1 Y 2 PROCESOS ORGANIZACIONALES-->
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="{{ vm.setClase(vm.PorcentajeProcesosOrganizacionales[1]) }}">
                                                    <center><img ng-src="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[1]) }}" style="{{ vm.setIcono(vm.PorcentajeProcesosOrganizacionales[1], 1) }}" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                                        <p class="mb-n2 f-21">{{ vm.PorcentajeProcesosOrganizacionales[1] }}%</p>
                                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(vm.PorcentajeProcesosOrganizacionales[1] - vm.listDataHistoricoEA[0].ProcesosOrganizacionales) }} f-17 mb-1">{{ vm.getPorcentDiff(vm.PorcentajeProcesosOrganizacionales[1], vm.listDataHistoricoEA[0].ProcesosOrganizacionales) }}%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">

                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--.head-impulsores-->
                                    <!--#region Secciones ocultas-->
                                    <!--#region Tercera y Cuarta Columna-->
                                    <div class="head-impulsores" hidden>
                                        <div class="header-impulsores row impulsoreshead-izq">
                                            <div class="col-5 offset-1">
                                                AREA
                                            </div>
                                            <div class="col-5 offset-1 border-right-head">
                                                EMPRESA
                                            </div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                    <!--#endregion Tercera y Cuarta Columna-->
                                    <!--#region Quinta y Sexta Columna-->
                                    <div class="head-impulsores" hidden>
                                        <div class="header-impulsores row impulsoreshead-izq">
                                            <div class="col-5 offset-1">
                                                {{vm.UNSeleccionada}}@*Sistemas*@
                                            </div>
                                            <div class="col-5 offset-1 border-right-head">
                                                {{vm.UNSeleccionada}}@*Sistemas*@
                                            </div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                    <!--#region Quinta y Sexta Columna-->
                                    <!--#region Septima y Octava columna-->
                                    <div class="head-impulsores" hidden>
                                        <div class="header-impulsores row impulsoreshead-izq">
                                            <div class="col-5 offset-1">
                                                {{vm.UNSeleccionada}}@*Sistemas*@
                                            </div>
                                            <div class="col-5 offset-1 border-right-head">
                                                {{vm.UNSeleccionada}}@*Sistemas*@
                                            </div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="yellow-clima f-17 mb-1">HC:325</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="nublado">
                                                    <center><img src="~/img/ReporteoClima/nublado.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="solnube">
                                                    <center><img src="~/img/ReporteoClima/solnube.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                        <div class="mt-3 row tablaimpulsores-der">
                                            <div class="col-5 p-0 ml-1">
                                                <div class="sol">
                                                    <center><img src="~/img/ReporteoClima/sol.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="red-clima f-17 mb-1">-15%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 p-0 ml-2 mr-1">
                                                <div class="lluvia">
                                                    <center><img src="~/img/ReporteoClima/lluvia.svg" class="m-2 w-icon-impulsores"></center>
                                                    <div class="clima-porcentaje robotoblack porcentaje-clima" style="min-height:70px;">
                                                        <p class="mb-n2 f-21">77.33%</p>
                                                        <p class="green-clima f-17 mb-1">+10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0 borde-impulsores "></div>
                                        </div>
                                    </div>
                                    <!--#endregion Septima y Octava columna-->
                                    <!--#endregion Secciones ocultas-->

                                </div>
                            </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-xl-8 offset-xl-4" style="display:none;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mt-5">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">8</a></li>
                                <li class="page-item"><a class="page-link" href="#">9</a></li>
                                <li class="page-item"><a class="page-link" href="#">10</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>                  
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <div class="col-12 p-0 m-0">
                        <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                    </div>
                </div>
            </div><!--.card-block-->
        </div><!--.card-->
        <hr class="clearfix my-5">

        <h4 hidden>Listado de columnas</h4>
        <p hidden ng-repeat="item in vm.finalColumnas">{{item.type}}: {{item.value}}</p>


    </div><!--.container-->

</div><!--.content-wrap-->
