<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <h1 hidden>Pendiente de calcular</h1>
        <h2 class="robotothin mb-2 mt-n1">LOS 5 CON MAYOR CRECIMIENTO ENFOQUE ÁREA <span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <div class="card mb-4 mb-md-0 pr-3 pl-3">
            <div class="card-block mt-3 mb-3">
                <div class="row mb-5">
                    <div class="col-xl" ng-repeat="item in vm.MayorCrecimientoEA.Data | limitTo:5 track by $index">
                        <div class="border-mejores">
                            <div class="bg-degradado-gris">
                                <center><img ng-src="{{ vm.setIconoMejoresPeores(item.PorcentajeActual) }}" class="img-fluid"></center>
                            </div>
                            <center>
                                <div class="mejores-peores">
                                    <p class="black-clima mb-5 mt-2">{{ vm.getPreguntaById(item.IdPregunta) }}</p>
                                </div>
                                <div class="contenido-mejores pt-0">
                                    <i class="fa fa-caret-down text-white icono-mejores-down"></i>
                                    <h3 class="text-white robotobold">{{ item.PorcentajeActual }}%</h3>
                                    <center ng-hide="!vm.hasHistorico"><p class="{{ item.DiferenciaActualAnterior >= 0 ? 'porcentaje-mejores' : 'porcentaje-peores' }}">{{ item.DiferenciaActualAnterior }}%</p></center>
                                </div>
                            </center>
                        </div>
                    </div>

                    <!--<div class="col-xl">
                        <div class="border-mejores">
                            <div class="bg-degradado-gris">
                                <center><img ng-src="{{ vm.setIconoMejoresPeores(vm.MayorCrecimientoEA.Data[1].PorcentajeActual) }}" class="img-fluid"></center>
                            </div>
                            <center>
                                <div class="mejores-peores">
                                    <p class="black-clima mb-5 mt-2">{{ vm.getPreguntaById(vm.MayorCrecimientoEA.Data[1].IdPregunta) }}</p>
                                </div>
                                <div class="contenido-mejores pt-0">
                                    <i class="fa fa-caret-down text-white icono-mejores-down"></i>
                                    <h3 class="text-white robotobold">{{ vm.MayorCrecimientoEA.Data[1].PorcentajeActual }}%</h3>
                                    <center><p class="porcentaje-mejores">{{ vm.MayorCrecimientoEA.Data[1].DiferenciaActualAnterior }}%</p></center>
                                </div>
                            </center>
                        </div>
                    </div>

                    <div class="col-xl">
                        <div class="border-mejores">
                            <div class="bg-degradado-gris">
                                <center><img ng-src="{{ vm.setIconoMejoresPeores(vm.MayorCrecimientoEA.Data[2].PorcentajeActual) }}" class="img-fluid"></center>
                            </div>
                            <center>
                                <div class="mejores-peores">
                                    <p class="black-clima mb-5 mt-2">{{ vm.getPreguntaById(vm.MayorCrecimientoEA.Data[2].IdPregunta) }}</p>
                                </div>
                                <div class="contenido-mejores pt-0">
                                    <i class="fa fa-caret-down text-white icono-mejores-down"></i>
                                    <h3 class="text-white robotobold">{{ vm.MayorCrecimientoEA.Data[2].PorcentajeActual }}%</h3>
                                    <center><p class="porcentaje-mejores">{{ vm.MayorCrecimientoEA.Data[2].DiferenciaActualAnterior }}%</p></center>
                                </div>
                            </center>
                        </div>
                    </div>

                    <div class="col-xl">
                        <div class="border-mejores">
                            <div class="bg-degradado-gris">
                                <center><img ng-src="{{ vm.setIconoMejoresPeores(vm.MayorCrecimientoEA.Data[3].PorcentajeActual) }}" class="img-fluid"></center>
                            </div>
                            <center>
                                <div class="mejores-peores">
                                    <p class="black-clima mb-5 mt-2">{{ vm.getPreguntaById(vm.MayorCrecimientoEA.Data[3].IdPregunta) }}</p>
                                </div>
                                <div class="contenido-mejores pt-0">
                                    <i class="fa fa-caret-down text-white icono-mejores-down"></i>
                                    <h3 class="text-white robotobold">{{ vm.MayorCrecimientoEA.Data[3].PorcentajeActual }}%</h3>
                                    <center><p class="porcentaje-mejores">{{ vm.MayorCrecimientoEA.Data[3].DiferenciaActualAnterior }}%</p></center>
                                </div>
                            </center>
                        </div>
                    </div>

                    <div class="col-xl">
                        <div class="border-mejores">
                            <div class="bg-degradado-gris">
                                <center><img ng-src="{{ vm.setIconoMejoresPeores(vm.MayorCrecimientoEA.Data[4].PorcentajeActual) }}" class="img-fluid"></center>
                            </div>
                            <center>
                                <div class="mejores-peores">
                                    <p class="black-clima mb-5 mt-2">{{ vm.getPreguntaById(vm.MayorCrecimientoEA.Data[4].IdPregunta) }}</p>
                                </div>
                                <div class="contenido-mejores pt-0">
                                    <i class="fa fa-caret-down text-white icono-mejores-down"></i>
                                    <h3 class="text-white robotobold">{{ vm.MayorCrecimientoEA.Data[4].PorcentajeActual }}%</h3>
                                    <center><p class="porcentaje-mejores">{{ vm.MayorCrecimientoEA.Data[4].DiferenciaActualAnterior }}%</p></center>
                                </div>
                            </center>
                        </div>
                    </div>-->

                </div>
                <div class="d-flex justify-content-center">
                    <img src="~/img/ReporteoClima/indicadores.png" class="img-fluid">
                </div>
            </div><!--.card-block-->
        </div><!--.card-->
        <hr class="clearfix my-5">

    </div><!--.container-->

</div><!--.content-wrap-->