    <div class="content-wrap">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-md-6 col-sm-12 col-xs-6 col-6">
                        <h2>Ha ocurrido un error al intentar obtener el contenido</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>