
@{
    ViewBag.Title = "PatialIndex";
    Layout = "~/Views/Admin/Contenido.cshtml";
}

<h2>PatialIndex</h2>
<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="wrapper-tool">
                            <div class="box-tool">
                                <div class="header-tool">

                                </div><!--.header-tool-->
                                <div class="body-tool">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Crear</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Plantillas</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Editar</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Más opciones</li>
                                    </ul>
                                </div><!--.body-tool-->
                            </div><!--.box-tool-->
                        </div><!--.wrapper-tool-->
                    </div><!--.col-md-4-->
                    <div class="col-6 col-md-4">
                        <div class="wrapper-tool">
                            <div class="box-tool">
                                <div class="header-tool">

                                </div><!--.header-tool-->
                                <div class="body-tool">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Crear</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Plantillas</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Editar</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Más opciones</li>
                                    </ul>
                                </div><!--.body-tool-->
                            </div><!--.box-tool-->
                        </div><!--.wrapper-tool-->
                    </div><!--.col-md-4-->
                    <div class="col-6 col-md-4">
                        <div class="wrapper-tool">
                            <div class="box-tool">
                                <div class="header-tool">

                                </div><!--.header-tool-->
                                <div class="body-tool">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Crear</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Plantillas</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Editar</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Más opciones</li>
                                    </ul>
                                </div><!--.body-tool-->
                            </div><!--.box-tool-->
                        </div><!--.wrapper-tool-->
                    </div><!--.col-md-4-->
                    <div class="col-6 col-md-4">
                        <div class="wrapper-tool">
                            <div class="box-tool">
                                <div class="header-tool">

                                </div><!--.header-tool-->
                                <div class="body-tool">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Crear</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Plantillas</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Editar</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Más opciones</li>
                                    </ul>
                                </div><!--.body-tool-->
                            </div><!--.box-tool-->
                        </div><!--.wrapper-tool-->
                    </div><!--.col-md-4-->
                    <div class="col-6 col-md-4">
                        <div class="wrapper-tool">
                            <div class="box-tool">
                                <div class="header-tool">

                                </div><!--.header-tool-->
                                <div class="body-tool">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Crear</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Plantillas</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Editar</li>
                                        <li><span class="fa-li"><i class="fas fa-minus"></i></span> Más opciones</li>
                                    </ul>
                                </div><!--.body-tool-->
                            </div><!--.box-tool-->
                        </div><!--.wrapper-tool-->
                    </div><!--.col-md-4-->
                </div><!--.row-->
            </div><!--.col-lg-7-->
        </div><!--.row-->

    </div><!--.container-->

</div><!--.content-wrap-->

