<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
@*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<script src="~/css/sweetalert.min.js"></script>

<div class="modal" id="myModal" tabindex="-1" role="dialog">

    <div tabindex="-1" class="swal-overlay swal-overlay--show-modal">
        <div class="swal-modal body" role="dialog" aria-modal="true" id="body">
            <div class="swal-icon swal-icon--warning icono" id="icono">
                <span class="swal-icon--warning__body signo" id="signo">
                    <span class="swal-icon--warning__dot"></span>
                </span>
            </div>
            <div class="swal-title titulo" id="titulo">
                Notificacion
            </div>
            <div class="swal-text mensaje" id="mensaje">
                <p>@ViewBag.Message</p>
            </div>
            <div class="swal-footer">
                <div class="swal-button-container">

                    @*<button tabindex="0" class="swal-button swal-button--confirm swal-button--danger" onclick="cerrar()">OK</button>*@

                    @Html.ActionLink("Ok", "Index_CL", "Home", htmlAttributes: new { @class = "swal-button swal-button--confirm swal-button--danger link", @tabindex = "0" })
                    <div class="swal-button__loader">
                        <div id="icono"></div>
                        <div></div>
                        <div></div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $('#myModal').modal();
</script>
<style type="text/css">
    /*Media Query para ajustar Modal en vista Desktop*/
    @@media only screen and (max-width: 600px) /*Solo usa esta*/
    {
        .body {
            width: auto;
            height: auto;
        }

        .icono {
            margin-top: 20px;
            width: 80px;
            height: 80px;
        }

        .signo {
            height: 30px;
        }

        .titulo {
            font-size: 27px;
        }

        .mensaje {
            font-size: 16px;
        }

        .link {
            font-size: 14px;
        }
    }

    /*Media Query para ajustar Modal en vista mobile*/
    @@media only screen and (min-width: 600px) {
        .body {
            width: auto;
            height: auto;
        }

        .icono {
            margin-top: 20px;
            width: 150px;
            height: 150px;
        }

        .signo {
            height: 80px;
        }

        .titulo {
            font-size: 90px;
        }

        .mensaje {
            font-size: 50px;
        }

        .link {
            font-size: 40px;
        }
    }
</style>