@{
    ViewBag.Title = "Diagnostic 4U";
}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/bundles/cssPreView")
    
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()   
    @Scripts.Render("~/bundles/jqueryPreview")    
</body>
</html>

