@model ML.PlanDeAccion
@using Newtonsoft.Json
@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Admin/Contenido.cshtml";
}
<script>
    var IdPlanDeAccion = @Html.Raw(JsonConvert.SerializeObject(Model.IdPlanDeAccion));
    var ModelNotificacion = @Html.Raw(JsonConvert.SerializeObject(new ML.Email()));
     var IdResponsable = @Html.Raw(JsonConvert.SerializeObject(Session["IdResponsable"]));
</script>
<script src="~/scripts/ReporteoClima/LinQ.js"></script>
<script src="~/scripts/AngularJS.js"></script>
<script src="~/scripts/swal.min.js"></script>
<script src="~/scripts/PlanesDeAccion/EmailSender.js"></script>
<script src="~/scripts/summernote.min.js"></script>
<link rel="stylesheet" href="~/css/summernote.min.css" />
@section H1{
    <section id="page-title">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6 bottom-align-left center-vertically-xs">
                    <img src="../../img/icon-survey.png" )" class="img-fluid">
                    <h1 class="title-page-survey">
                        Plan de Acción / <span>Notificaciones</span>
                    </h1>
                </div>
                <div hidden class="col-6 bottom-align-right center-vertically-xs">
                    <a href="#" onclick="GuardarTodo()" class="btn-parallelogram parallelogram">
                        <span class="skew-fix"><i class="fas fa-save"></i> Guardar y cerrar</span>
                    </a>
                </div>
            </div>
        </div><!--.container-fluid-->
    </section>
}

<div id="config-not" class="content-wrap" ng-app="app" ng-controller="emailSenderController as vm">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        Listado de planes
                        <div class="form-group" ng-repeat="item in vm.ListPlanesDeAccion">
                            <span style="display:block">{{ item.Nombre }}</span>
                            <button ng-click="vm.SetIdPlan(item.IdPlanDeAccion)" class="btn btn-info">Agregar notificación customizada <i class="fas fa-pen"></i></button>
                            <div ng-repeat="job in item.ListJobsNotificaciones">
                                <p>
                                    Envio de notificacion {{ job.Periodicidad }}
                                    <button ng-if="job.IdEstatus == 1" ng-click="vm.ChangeEstatusJob(item.IdPlanDeAccion, job.IdJobsNotificacionesPDA, 0)" class="btn btn-danger">Detener <i class="fas fa-stop"></i></button>
                                    <button ng-if="job.IdEstatus == 0" ng-click="vm.ChangeEstatusJob(item.IdPlanDeAccion, job.IdJobsNotificacionesPDA, 1)" class="btn btn-success">Iniciar <i class="fas fa-play"></i></button>
                                    <button ng-click="vm.EliminarJob(job.IdJobsNotificacionesPDA)" class="btn btn-danger">Eliminar <i class="fas fa-trash"></i></button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.IdPlanDeAccion > 0" class="col-8">
                        <h3>{{ vm.Modulo }}</h3>
                        <small>
                            Considera que tu email debe contener los siguientes elementos:<br />
                            <span style="display:block;">#Nombre#</span>
                            <span style="display:block;">#Lista Acciones#</span>
                        </small>
                        <div id="not-1" class="form-group config-notificacion">
                            <textarea id="notificacion-inicial" ng-model="vm.Plantilla"></textarea>
                            <div class="col-4 p-0">
                                <label class="control-label">Prioridad del email</label>
                                <select class="form-control" ng-model="vm.PrioridadEmail" ng-options="prioridad.Descripcion for prioridad in vm.Prioridad track by prioridad.Id">
                                </select>
                            </div>
                            <div class="col-4 p-0">
                                <label class="control-label">Asunto del email</label>
                                <input type="text" class="form-control" placeholder="Asunto" ng-model="vm.Asunto" />
                            </div>
                            <div class="col-4 p-0">
                                <label class="control-label">Frecuencia de envío</label>
                                <select class="form-control" ng-model="vm.Frecuencia" ng-options="frecuencia.Descripcion for frecuencia in vm.ListFrecuencia track by frecuencia.Id">
                                </select>
                            </div>
                            <div class="col-4 p-0 mt-3">
                                <button class="btn btn-success" ng-click="vm.GuardarConfiguracion()">Guardar <i class="fas fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #config-not textarea {
        height: 50px;
        min-height: 50px;
    }
</style>