@model ML.PlanDeAccion
@using Newtonsoft.Json
@{
    ViewBag.Title = "Seguimiento";
    Layout = "~/Views/Admin/Contenido.cshtml";
}
<script src="~/scripts/ReporteoClima/LinQ.js"></script>
<script src="~/scripts/AngularJS.js"></script>
<script src="~/scripts/swal.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.default-main.min.css" />
<script>
    var UserId = @Html.Raw(JsonConvert.SerializeObject(Session["IdAdministradorLogeado"]));
    var IdResponsable = @Html.Raw(JsonConvert.SerializeObject(Session["IdResponsable"]));
</script>
@section H1{
    <section id="page-title">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6 bottom-align-left center-vertically-xs">
                    <img src="~/img/plan-de-accion-2.png" )" class="img-fluid">
                    <h1 class="title-page-survey">
                        Plan de Acción / <span>Seguimiento</span>
                    </h1>
                </div>
                <div hidden class="col-6 bottom-align-right center-vertically-xs">
                    <a href="#" onclick="GuardarTodo()" class="btn-parallelogram parallelogram">
                        <span class="skew-fix"><i class="fas fa-save"></i> Guardar y cerrar</span>
                    </a>
                </div>
            </div>
        </div><!--.container-fluid-->
    </section>
}
<div hidden class="form-group">
    <input type="file" id="fileChosser2" name="fileChosser2" multiple="multiple" />
    <input type="button" ng-click="vm.AgregarArchivos()" />
</div>
<div id="printDiv" class="content-wrap" ng-app="app" ng-controller="seguimientoController as vm">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-8">
                        <h3>{{ vm.Modulo }}</h3>
                    </div>
                    <div class="col-4" ng-hide="vm.ListAcciones.length > 0">
                        <input id="busqueda" type="text" class="form-control" placeholder="Buscar" /><i class="fas fa-search errspan"></i>
                    </div>
                </div>
                <div id="mergePlan" class="row mt-3">
                    <div class="col" ng-repeat="item in vm.ListPlanesDeAccion" style="">
                        <div class="alert alert-info" role="alert" style="width: 255px; height: 138px; max-width: 255px; max-height: 138px; min-width: 255px; min-height: 138px;">
                            <p style="margin-bottom: 0px;">{{ item.Nombre.replace("_", " ") }}</p>
                            <i class="fas fa-eye fa-lg" ng-hide="vm.ListAcciones.length > 0" style="cursor: pointer;float:inline-end;" title="Ver detalle" ng-click="vm.MostrarSeguimientoAcciones($event, item.IdPlanDeAccion, item.IdEncuesta, item.IdBaseDeDatos);vm.ObtenerPromedioAvancePlan(item.IdPlanDeAccion);"></i>
                            <i class="fas fa-close fa-lg" ng-hide="vm.ListAcciones.length == 0" style="margin-top: -20px;cursor: pointer; float: inline-end;" title="Cerrar detalle" ng-click="vm.CerrarDetallePlan($event)"></i>
                        </div>
                        <div class="row">
                            <div class="col-12" style="display: contents;">
                                <!--Iterar acciones-->
                                <div class="col-12 col-sm-12 col-md-6 col-xl-4 mt-3 list-acciones" ng-repeat="item in vm.ListAcciones track by $index">
                                    <div class="col-12" style="height: 30px; background-color: #002060;color: white;border-radius: 5px;overflow: hidden;min-height: 65px;">
                                        <strong style="vertical-align: sub;" class="mt-2">{{ item.AccionesDeMejora.Categoria.Descripcion }} {{ item.AccionesDeMejora.Categoria.Promedio }} <img src="{{ item.AccionesDeMejora.Categoria.Icono }}" style="width:30px;height:25px;background-color:white;" /> </strong>
                                    </div>
                                    <div class="mt-2" style="border: 0.7px solid #FFC000; border-radius: 20px; padding: 15px 20px 15px 25px;">
                                        <span>Accion: {{ item.AccionesDeMejora.IdAccionDeMejora }}</span>
                                        <small title="{{ item.AccionesDeMejora.Descripcion }}" style="min-height: 58px; max-height: 58px; height: 58px;">{{ item.AccionesDeMejora.Descripcion.substring(0, 100) }}</small>
                                        <span class="mt-2 ml-2">Avance: {{ item.PorcentajeAvance }}</span>
                                        <span class="mt-2 ml-2">Cumplimiento: 0%</span>
                                        <span class="mt-2 ml-2"><i class="fas fa-calendar fa-lg"></i> Concluye:  {{ item.sFechaFin }}</span>
                                        <button title="Ver detalle de la acción de mejora" ng-click="vm.DetalleAccion(item.AccionesDeMejora.IdAccionDeMejora);" class="mt-2 ml-2 btn" style="color: #FFC000;"><i class="fas fa-eye fa-lg"></i>  Ver detalle</button>
                                    </div>
                                </div>
                                <!--Fin iterar acciones-->
                            </div>
                        </div>
                    </div>  
                    <div ng-show="vm.ListAcciones.length > 0" class="col-4 col-der">
                        <div class="alert alert-light" role="alert">
                            <span>Crecimiento total promedio</span>
                        </div>
                        <div class="alert alert-light" role="alert">
                            <span id="avance-plan"></span>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.ListAcciones.length > 0" class="tool-bar mt-5" style="float: inline-end;">
                    <button class="btn btn-info" ng-click="vm.PrintElem()">Imprimir <i class="fas fa-print"></i></button>
                    <button class="btn btn-info" ng-click="vm.Exportar()">Exportar <i class="fas fa-file-pdf"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/scripts/PlanesDeAccion/SeguimientoPlan.js"></script>
<script src="~/scripts/ReporteoClima/FileSaver.js"></script>
<script src="~/scripts/ReporteoClima/html2canvas.js"></script>
<script src="~/scripts/ReporteoClima/jspdf.min.js"></script>
<style>
    .list-acciones span, small{
        display: block;
    }
    .errspan {
        float: right;
        margin-right: 15px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
    #accordion label {
        cursor: pointer;
    }
</style>

