@using Newtonsoft.Json
@model ML.ClimaDinamico
@{
    Layout = "~/Views/ClimaDinamico/Layout.cshtml";
    ViewBag.Title = "Gracias";
}
<link rel="stylesheet" href="~/css/Clima Dinamico/StyleSheet1.css" />
<div class="row main-content" style="padding-top: 100px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 imagen-final" id="img-final"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8" style="padding-top: 16rem; padding-left: 30px; padding-right: 30px;">
        <p class="text-center" style="padding-top: 35px;">¡Tus respuestas fueron guardadas exitosamente!</p>
        <p class="text-center">Gracias por participar en la encuesta de Clima Laboral @DateTime.Now.Year</p>
        <div class="row center-vertically">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 btn-final btn-continuar text-center">
                <p class="btn-continuar" style="padding: 0.8rem;">Salir</p>
            </div>
        </div>
    </div>
</div>
<style>
    p {
        color: rgb(127, 127, 127);
        font-size: 19px;
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
        font-weight: bold;
    }
</style>