
<div class="content-wrap pb-2" ng-switch="vm.enfoqueSeleccionado">
<!----Enfoque Ambos------->
<div id="tab-indicadores-categoria" class="container-fluid px-lg-5" ng-switch-when="0">
    <h2 class="robotothin mb-2 mt-n1">INDICADORES POR CATEGORÍA <span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
    <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
    <div class="card">
        <div class="card-block">
            <div class="row px-4 mt-3">
                <div class="container-fluid header-impulsores col-12">
                    <div class="row categoria-bl">
                        <div class="{{vm.ColIzq}}  pr-0">INDICADORES POR CATEGORÍA</div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                    </div>                   
                </div>
                <!--#region categorias-->
                <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador2 track by $index">
                    <div class="{{vm.ColIzqA}}">
                        <div class="row">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                <p class="mb-n1 yellow-clima">{{indicador1.Descripcion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeCredibilidadEE track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeCredibilidadEA track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeImparcialidadEE track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeImparcialidadEA track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeOrgulloEE track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeOrgulloEA track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeRespetoEE track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeRespetoEA track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeCompanierismoEE track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDerA}} p-0" ng-repeat="item in vm.PorcentajeCompanierismoEA track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion categorias-->
            </div>
            <div class="d-flex justify-content-center margin-reporte">
                <div class="col-12 p-0 m-0">
                    <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                </div>
            </div>
        </div>
    </div>
</div>
<!----Enfoque Empresa------->
<div id="tab-indicadores-categoria" class="container-fluid px-lg-5" ng-switch-when="1">
    <h2 class="robotothin mb-2 mt-n1">INDICADORES POR CATEGORÍA EE<span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
    <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
    <div class="card">
        <div class="card-block">
            <div class="row px-4 mt-3">
                <div class="container-fluid header-impulsores col-12">
                    <div class="row categoria-bl">
                        <div class="{{vm.ColIzq}}  pr-0">INDICADORES POR CATEGORÍA EE</div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                    </div>
                </div>
                <!--#region categorias-->
                <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador2 track by $index">
                    <div class="{{vm.ColIzq}}">
                        <div class="row">
                            <div class="col-1 align-middle icono-impulsores ">
                                <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                            </div>
                            <div class="col-10 tablaimpulsores-izq">
                                <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                <p class="mb-n1 yellow-clima">{{indicador1.Descripcion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCredibilidadEE track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeImparcialidadEE track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeOrgulloEE track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeRespetoEE track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCompanierismoEE track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                        <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                            <div class="{{ vm.setClase(item) }}">
                                <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                <div class="clima-porcentaje robotoblack porcentaje-clima">
                                    <p class="mb-n2 f-15">{{ item }}%</p>
                                    <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!--#endregion categorias-->
            </div>
            <div class="d-flex justify-content-center margin-reporte">
                <div class="col-12 p-0 m-0">
                    <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                </div>
            </div>
        </div>
    </div>
</div>
<!----Enfoque Area------->
    <div id="tab-indicadores-categoria" class="container-fluid px-lg-5" ng-switch-when="2">
        <h2 class="robotothin mb-2 mt-n1">INDICADORES POR CATEGORÍA EA<span class="robotobold yellow-clima area-empresa ml-3">{{vm.UNSeleccionada}}</span></h2>
        <p>Predicen la capacidad de las organizaciones para lograr resultados</p>
        <div class="card">
            <div class="card-block">
                <div class="row px-4 mt-3">
                    <div class="container-fluid header-impulsores col-12">
                        <div class="row categoria-bl">
                            <div class="{{vm.ColIzq}}  pr-0">INDICADORES POR CATEGORÍA EA</div>
                            <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.ColumnasBienestar" style="text-align:center;">{{item.value.trim()}}</div>
                        </div>
                    </div>
                    <!--#region categorias-->
                    <div class="col-12 row mt-3 bg-impulsores" ng-repeat="indicador1 in vm.listTipoIndicador2 track by $index">
                        <div class="{{vm.ColIzq}}">
                            <div class="row">
                                <div class="col-1 align-middle icono-impulsores ">
                                    <img src="/img/ReporteoClima/chevron-right.png" class="img-fluid d-none d-sm-block">
                                </div>
                                <div class="col-10 tablaimpulsores-izq">
                                    <h3 class="robotoblack">{{indicador1.Nombre}}</h3>
                                    <p class="mb-n1 yellow-clima">{{indicador1.Descripcion}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCredibilidadEA track by $index" ng-show="$parent.$index == 0" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                        <p class="yellow-clima f-15 mb-1">HC:{{ vm.Esperadas[$index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeImparcialidadEA track by $index" ng-show="$parent.$index == 1" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeOrgulloEA track by $index" ng-show="$parent.$index == 2" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeRespetoEA track by $index" ng-show="$parent.$index == 3" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="{{vm.ColDer}} p-0" ng-repeat="item in vm.PorcentajeCompanierismoEA track by $index" ng-show="$parent.$index == 4" style="text-align:center;">
                            <div class="p-0" style="text-align: center; text-align: -moz-center; text-align: -webkit-center;">
                                <div class="{{ vm.setClase(item) }}">
                                    <center><img ng-src="{{ vm.setIcono(item) }}" class="mt-2 {{ vm.setIcono(item, 1) }}"></center>
                                    <div class="clima-porcentaje robotoblack porcentaje-clima">
                                        <p class="mb-n2 f-15">{{ item }}%</p>
                                        <p ng-hide="!vm.hasHistorico" class="{{ vm.getClassDiff(item - vm.listDataHistoricoEE[0].NivelParticipacion) }} f-17 mb-1">{{ vm.getPorcentDiff(item, vm.listDataHistoricoEE[0].NivelParticipacion) }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion categorias-->
                </div>
                <div class="d-flex justify-content-center margin-reporte">
                    <div class="col-12 p-0 m-0">
                        <img src="/img/ReporteoClima/indicadores.png" class="m-0 p-0" style="width:inherit;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
