
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link href="~/css/Encuesta.css" rel="stylesheet" />
    @*Boostrap@*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    @*, shrink-to-fit=no*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv='X-UA-Compatible' content='IE=8'>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    @*@otstrap*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link href="~/css/RBSelected.css" rel="stylesheet" />
    <link href="~/css/Encuesta.css" rel="stylesheet" />
    <link href="~/css/site_global.css" rel="stylesheet" />
    <link href="~/css/e2.css" rel="stylesheet" />
    <link href="~/css/Encuesta.css" rel="stylesheet" />
    <link href="~/css/RBSelected.css" rel="stylesheet" />
    <link href="~/css/Edge.css" rel="stylesheet" />
    <!-- Title -->
    <title>Diagnostic 4U</title>
</head>
<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12" style="">
        <div class="row">
            <div class="clearfix borderbox" id="page">
                <div onclick="" class="headerSuperior header" id="myHeader"
                     style="position:fixed; display:flex; top:0;
                            justify-content:center; margin-left:-15px;
                            margin-right:auto; z-index:80000; ">
                    <img src="~/images/3 Logo.png" class="logoCL" id="" />
                </div>
                <div id="asdf" style="opacity:1; background-color:transparent; width:100%; height:1px; position:relative; margin-top:120px;">
                    <div class="clearfix colelem originalEnfoques" id="pbuttonu6095" style="">
                        <div class="row" id="indicators" style="">
                            <!-- group -->
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 viewMobile_A parrafo" id="viewTablet" style="margin-bottom:30px;">
                                <p class="Instrucciones">Responde a cada reactivo desde los dos enfoques, pensando en la situación actual de "la empresa y todos los jefes" y pensando en la situacion actual de "tu área de trabajo y jefe directo".</p><br />
                                <p class="Instrucciones">Los reactivos que refieren a cuestiones personales, deberás responderlos de la misma forma en ambos enfoques.</p>
                            </div>

                            <div class="col-md-4 col-lg-4 viewMobile_A viewSafariCol3" id="viewTablet" style="margin-right:0px;">
                                <div class="Button clearfix grpelem" id="buttonu5579" data-visibility="changed" style="display:flex;background-color:#000080;visibility:visible; position:relative;">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5580-4" style="width:auto; margin-left:auto; margin-right:auto;">
                                        <!-- content -->
                                        <p onclick="" style="font-weight:bold;">Empresa y jefes</p>
                                    </div>
                                </div>
                                <div class="clearfix grpelem EE" id="pbuttonu12118" style="">
                                    <!-- group -->
                                    <div class="Button clearfix grpelem" id="buttonu12118" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="40" data-mu-ie-matrix-dy="-40">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12119-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12036" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12037-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12080" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12081-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>A veces es falso /</p>
                                            <p>A veces es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12099" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12100-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12061" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12062-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                </div>
                                @*</div>
                        <div class="col-md-2">*@
                                <div class="Button clearfix grpelem" id="buttonu5699" data-visibility="changed" style="display:flex;background-color:#000080;visibility:visible; position:relative;">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5700-4" style="margin-left:auto; margin-right:auto; width:auto">
                                        <!-- content -->
                                        <p style="font-weight:bold;">Área y jefe directo</p>
                                    </div>
                                </div>
                                <div class="clearfix grpelem EA" id="pbuttonu12118" style="">
                                    <!-- group -->
                                    <div class="Button clearfix grpelem" id="buttonu12118" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="40" data-mu-ie-matrix-dy="-40">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12119-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12036" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12037-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12080" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12081-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>A veces es falso /</p>
                                            <p>A veces es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12099" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12100-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12061" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12062-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="clearfix colelem" id="pbuttonu6095" style="">
                        <div class="row">
                            <div class="col-md-8">

                            </div>

                            <!-- group -->
                            <div class="col-md-4" id="indicadores" style="display:none;">

                                <div class="clearfix grpelem" id="pbuttonu12118">
                                    <!-- group -->
                                    <div class="Button clearfix grpelem" id="buttonu12118" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="40" data-mu-ie-matrix-dy="-40">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12119-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12036" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12037-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Casi siempre</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12080" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12081-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>A veces es falso /</p>
                                            <p>A veces es verdad</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12099" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12100-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es falso</p>
                                        </div>
                                    </div>
                                    <div class="Button clearfix grpelem" id="buttonu12061" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                        <!-- container box -->
                                        <div class="clearfix grpelem" id="u12062-6" style="font-weight:bold;">
                                            <!-- content -->
                                            <p>Frecuentemente</p>
                                            <p>es verdad</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="Button clearfix grpelem" id="buttonu4377" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u4378-6" style="font-weight:bold; font-size:12px;">
                                        <!-- content -->
                                        <p>Casi siempre</p>
                                        <p>es falso</p>
                                    </div>
                                </div>
                                <div class="Button clearfix grpelem" id="buttonu5633" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5634-6" style="font-weight:bold; font-size:12px;">
                                        <!-- content -->
                                        <p>Casi siempre</p>
                                        <p>es verdad</p>
                                    </div>
                                </div>
                                <div class="Button clearfix grpelem" id="buttonu5609" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5610-6" style="font-weight:bold; font-size:12px;">
                                        <!-- content -->
                                        <p>A veces es falso /</p>
                                        <p>A veces es verdad</p>
                                    </div>
                                </div>
                                <div class="Button clearfix grpelem" id="buttonu5597" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5598-6" style="font-weight:bold; font-size:12px;">
                                        <!-- content -->
                                        <p>Frecuentemente</p>
                                        <p>es falso</p>
                                    </div>
                                </div>
                                <div class="Button clearfix grpelem" id="buttonu5621" data-visibility="changed" style="visibility:visible" data-rotate="270.00" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="41" data-mu-ie-matrix-dy="-41">
                                    <!-- container box -->
                                    <div class="clearfix grpelem" id="u5622-6" style="font-weight:bold; font-size:12px;">
                                        <!-- content -->
                                        <p>Frecuentemente</p>
                                        <p>es verdad</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                @RenderSection("BodyEncuesta", false)

                <div class="clearfix colelem" id="u6062-4">
                    <!-- content -->
                    @*<p>Progreso 8%</p>*@
                </div>
                <div class="clearfix colelem viewMobile_AButtons" id="pu6065" style="">

                    <!-- group -->
                    <div class="rounded-corners clearfix grpelem" id="u6065" style="border: 4px solid #000080; border-radius:7px;">
                        <!-- group -->
                        <div class="rounded-corners grpelem" id="u6071" style="z-index:-1;width:0%;">

                        </div>
                        <p id="progreso" style="z-index:700; font-weight:bold; font-family:Helvetica, Helvetica Neue, Arial, sans-serif;">PROGRESO: 0%</p>
                    </div>


                    <div class="clearfix grpelem" id="u15488" style="">
                        <!-- group -->
                        <a class="nonblock nontext clip_frame grpelem" style="max-width:100%; height:auto; margin-right:auto;" id="u14540" href="@Url.Action("Inicio", "Home")">
                            <!-- image -->
                            <img title="Anterior" class="block" id="u14540_img" src="~/images/boto_mesa de trabajo 1.png"
                                 alt="" data-heightwidthratio="0.896551724137931" data-image-width="29" data-image-height="26" />
                        </a>

                        <p id="paginacion" class="pag" style="font-family: Arial, Helvetica, sans-serif; text-align:center; line-height:17px; font-weight:bold; color:#000080;">1/13</p>

                        <input title="Siguiente" type="image" style="max-width:100%; cursor:pointer;" src="~/images/boto-02.png" data-heightwidthratio="0.896551724137931" data-image-width="29" data-image-height="28" class="nonblock nontext clip_frame grpelem"
                               id="u14547" onclick="enviar()" />
                    </div>

                    <!--Boton Enviar y los dos ultimos-->



                    <div class="clip_frame grpelem" id="u19528" style="visibility:hidden; cursor:pointer;">
                        <!-- svg -->
                        <img title="Guardar Avance" class="svg svg_mar" id="u19523" src="~/images/enviar-2.svg" onclick="Guardar()" style="max-width:100%; " />
                    </div>


                    <!--Guardado de partes-->
                    <div class="clip_frame grpelem" onclick="SavePart()" id="u14554" style="cursor:pointer;">
                        <!-- image -->
                        <img title="Guardar Avance" class="block" id="u14554_img" src="~/images/boto-03.png" alt="" data-heightwidthratio="0.896551724137931" data-image-width="29" data-image-height="26" />
                    </div>
                    <a href="@Url.Action("Email", "Home")" title="Enviar correo a soporte">
                        <div class="clip_frame grpelem" id="u14532" style="position:relative;" onmouseover="">
                            <!-- image -->
                            <img class="block" id="u14532_img" style="max-width:100%; height:auto;" src="~/images/boto-04.png" alt="" data-heightwidthratio="0.896551724137931" data-image-width="29" data-image-height="26" />
                        </div>
                    </a>

                </div>
                
                <div onclick="" class="footer card-footer" style="display:flex; justify-content:center; bottom:0; z-index:25121; opacity:1;position:fixed;">
                    <img src="~/images/4 Logo_2.png" class="imgFotter" style="opacity:1" />
                </div>

            </div>
        </div>
    </div>
</body>
</html>