
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailEnviado</title>
</head>
<body>
    <div> 
        Su emuial se ha enviado
        <input type="checkbox" name="name" value="" />
    </div>
</body>
</html>
