@using Newtonsoft.Json
@{
    ViewBag.Title = "xml Convert";
}
<!DOCTYPE html>
<html lang="es-es" style="overflow-x:hidden;">
<head>
    <style data-merge-styles="true"></style>
    <meta charset="utf-8">
    <meta name="author" content="Grupo Autofin México" />
    <meta name="description" content="CMS Encuestas, Encuestas" />
    <meta name="keywords" content="Encuestas, Clima Laboral, CMS, Grupo Autofin México" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input type="file" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>