@model ML.Administrador
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/cssAdmin")
    @{
        //Session["PerfilAdminLog"]
        ViewBag.Perfil = Session["PerfilAdminLog"];
    }
</head>
<body>
    <main id="wrapper">
        <div id="top-bar">
            <div class="container-fluid px-lg-5">
                <div class="row">
                    <div class="col-4 col-sm-5 col-md-5">
                        <img src="~/img/logo.png" class="logo-header" alt="Logo" onclick="">
                    </div>

                    <div class="col-8 col-sm-7 col-md-7">
                        <div class="user-info">
                            <span class="color">Hola</span>, Bienvenido a la recuperación de contraseña
                            <img src="~/img/icon-user-male.jpg" class="avatar-header" width="50" height="50" alt="Avatar">
                        </div><!--.user-info-->
                    </div>
                </div><!--.row-->
            </div><!--.container-fluid-->
        </div>
        <section id="content">
            <div class="content-wrap">
                <div class="container-fluid px-lg-5">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="col-md-6 col-sm-12 col-xs-6 col-6">
                                <h2>En unos instantes recibirás un email para que puedas reestablecer tu contraseña</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6">
                    <p class="copyrights"><span class="color">DIAGNOSTIC 4U</span> @DateTime.Now.Year</p>
                </div>
                <div class="col-6">
                    <p class="text-support"><i class="far fa-life-ring"></i> SOPORTE</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
