<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="s" value="sd"></variable>
  
  <targets>
    <target name="LogJobReporteoClima" 
            xsi:type="File"
            fileName="${basedir}/logs/job-reporteo-clima.log"
            maxArchiveFiles="5" 
            archiveFileName="${basedir}/logs/archive/{#######}.log" 
            archiveNumbering="Date" 
            archiveDateFormat="yyyyMMdd" 
            archiveEvery="Day" 
            />
    <target name="LogFrontEndReporteoClima" 
            xsi:type="File"
            fileName="${basedir}/logs/front-end-reporteo-clima.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogBackEndReporteoClima"
            xsi:type="File"
            fileName="${basedir}/logs/back-end-reporteo-clima.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogEncuestaClima"
            xsi:type="File"
            fileName="${basedir}/logs/encuesta-clima.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogException"
            xsi:type="File"
            fileName="${basedir}/logs/log-exception.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogDiagnostics4U"
            xsi:type="File"
            fileName="${basedir}/logs/log-diagnostics4u.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogClimaDinamico"
            xsi:type="File"
            fileName="${basedir}/logs/log-clima-laboral-dinamico.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogClimaDinamicoRespuestas"
            xsi:type="File"
             fileName="${basedir}/logs/log-clima-laboral-dinamico-respuestas.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogAutoguardadoClimaDinamico"
            xsi:type="File"
             fileName="${basedir}/logs/log-clima-laboral-dinamico-autoguardado.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogClimaDinamicoFrontEnd"
            xsi:type="File"
             fileName="${basedir}/logs/log-clima-laboral-dinamico-front-end.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="nlogClimaDinamicoSMTP"
            xsi:type="File"
             fileName="${basedir}/logs/log-clima-laboral-dinamico-smtp.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogPrintData"
            xsi:type="File"
             fileName="${basedir}/logs/log-clima-laboral-dinamico-printData.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogAccess"
            xsi:type="File"
             fileName="${basedir}/logs/log-access.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <target name="LogClimaDinamicoBackGroundJobReporte"
            xsi:type="File"
             fileName="${basedir}/logs/log-job-reporte-clima.log"
            maxArchiveFiles="5"
            archiveFileName="${basedir}/logs/archive/{#######}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            />
    <!--LogClimaDinamicoFrontEnd-->
   </targets>

  <rules>
    <logger name="LogJobReporteoClima" minlevel="Debug" writeTo="LogJobReporteoClima" />
    <logger name="LogFrontEndReporteoClima" minlevel="Debug" writeTo="LogFrontEndReporteoClima" />
    <logger name="LogBackEndReporteoClima" minlevel="Debug" writeTo="LogBackEndReporteoClima" />
    <logger name="LogEncuestaClima" minlevel="Debug" writeTo="LogEncuestaClima" />
    <logger name="LogException" minlevel="Fatal" writeTo="LogException" />
    <logger name="LogDiagnostics4U" minlevel="Debug" writeTo="LogDiagnostics4U" />
    <logger name="LogClimaDinamico" minlevel="Debug" writeTo="LogClimaDinamico" />
    <logger name="LogClimaDinamicoRespuestas" minlevel="Debug" writeTo="LogClimaDinamicoRespuestas" />
    <logger name="LogAutoguardadoClimaDinamico" minlevel="Debug" writeTo="LogAutoguardadoClimaDinamico" />
    <logger name="LogClimaDinamicoFrontEnd" minlevel="Error" writeTo="LogClimaDinamicoFrontEnd" />
    <logger name="nlogClimaDinamicoSMTP" minlevel="Info" writeTo="nlogClimaDinamicoSMTP" />
    <logger name="LogPrintData" minlevel="Info" writeTo="LogPrintData" />
    <logger name="LogAccess" minlevel="Info" writeTo="LogAccess" />
    <logger name="LogClimaDinamicoBackGroundJobReporte" minlevel="Error" writeTo="LogClimaDinamicoBackGroundJobReporte" />
  </rules>
</nlog>
