/*.note-editing-area*/
/*note-editable   note-editing-area*/
.note-editing-area @font-face {
    /*font-family: open-Sans-bold;*/
    /*src: url(fonts/OpenSans-Regular.ttf);*/
}
.note-editing-area .salto-compe{
    display: block;
}
.note-editing-area #prev {
    background: url(../../img/ClimaDinamico/prev.png);
    background-size: cover;
    width: 2.5rem;
    height: 38px;
}
.note-editing-area #next{
    background: url(../../img/ClimaDinamico/next.png);
    background-size: cover;
    width: 2.5rem;
    height: 38px;
}
.note-editing-area #save-avance{
    background: url(../../img/ClimaDinamico/saveAvance.png);
    background-size: cover;
    width: 2.5rem;
    height: 38px;
}
.note-editing-area #mail{
    background: url(../../img/ClimaDinamico/mail.png);
    background-size: cover;
    width: 2.5rem;
    height: 38px;
}
.note-editing-area .metrica p{
    display: block;
}
.note-editing-area input, .note-editing-area p, .note-editing-area span{
    /*font-family: open-Sans-bold;*/
}
/* generales */
.note-editing-area .center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}
.note-editing-area .img-responsive {
    /* max-width: 50px;   */
    max-height: 100px; 
}
/* header */
.note-editing-area .row-header-clima{
    position: fixed;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    z-index: 2;
}
.note-editing-area .header{
    background-color: #000080;
    opacity: 0.8;
    height: 100px;
}
.note-editing-area .img-logo-header{
    padding: 1rem;
    height: 90px;
}

/* footer */
.note-editing-area .row-footer-clima{
    position: fixed;
    width: 100%;
    bottom: 0;
    max-width: 100%;
    min-width: 100%;
}
.note-editing-area .footer{
    background-color: #000080;
    opacity: 0.8;
    height: 50px;
}
.note-editing-area .img-logo-footer{
    padding: 0.5rem;
    height: 40px;
    margin-top: 0.25rem;
}

.note-editing-area .bg { 
    /* background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg") no-repeat center center fixed; */
    background: url("img/backImageDesktop.jpg") no-repeat center center fixed;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
.note-editing-area .login-controls{
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    height: 50px;
    font-size: 20px;
}
.note-editing-area .row-form{
    top: 60%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.note-editing-area .txt-clave{
    color: #999999;
    text-align: center;
}
.note-editing-area .btn-ingresar{
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}
.note-editing-area .btn-ingresar:hover{
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}
/*.note-editing-area [type="submit"]:not(:disabled), button:not(:disabled){
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}*/
.note-editing-area .btn-olvidar{
    background-color: #000000;
    color: #fff;
    opacity: 0.7;
}
/*.note-editing-area [type="button"]:not(:disabled), button:not(:disabled){
    background-color: #000000;
    color: #fff;
    opacity: 0.7;
}*/
.note-editing-area .form-group{
    margin-bottom: 5px !important;
}

/* intro */
.note-editing-area .imagen-intro{
    background-image: url(../../img/ClimaDinamico/portadaIntro.jpg);
    background-size: cover;
}

.note-editing-area #img-intro{
    display: none;
}
.note-editing-area .welcome{
    font-weight: bold;
    color: #040482;
}
.note-editing-area .des-likert{
    text-align: center;
    color: #fff;
    font-weight: bold;
    min-height: 65px;
    border: 3px solid #fff;
}
.note-editing-area .val{
    margin: 8px;
    padding-top: 0.6rem;
}
.note-editing-area .btn-continuar{
    background-color: #34ace1;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}
.note-editing-area .main-content{
    padding-bottom: 70px;
}
.note-editing-area .main-content-likert{
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.note-editing-area .instrucciones-likert{
    color: #4d4d4d; 
    font-weight: bold; 
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.note-editing-area .header-enfoque{
    background-color: #000080;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #fff;
}
.note-editing-area .txt-ee{
    margin-bottom: 0px;
}
.note-editing-area .txt-ea{
    margin-bottom: 0px;
}
.note-editing-area .header-1 .txt-ea{
    display: none;
}
.note-editing-area .header-1 .txt-ee{
    display: block;
}
.note-editing-area .header-2 .txt-ea{
    display: block;
}
.note-editing-area .header-2 .txt-ee{
    display: none;
}
.note-editing-area .likert-values{
    /* transform: rotate(268deg); */
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    overflow: hidden;
    writing-mode: inherit;
    height: 36px;
    border: 1px solid #fff;
}
.note-editing-area .metrica{
    margin-top: 0px;
}
.note-editing-area .metrica p{
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
.note-editing-area .metricaEA{
    display: none;
    margin-left: -15px;
}
.note-editing-area .section-preguntas{
    margin-top: 50px;
}
.note-editing-area .bg-color{
    background-color: #efefef;
}
.note-editing-area .item-pregunta{
    height: auto;
    border-radius: 2px;
    padding-left: 20px;
    margin-bottom: 8px;
}
.note-editing-area .item-pregunta p{
    padding-top: 0.3rem;
}
.note-editing-area .center-buttons{
    justify-content: end;
}
.note-editing-area .mergePreguntas{
    display: block;
}
.note-editing-area .btn-enviar {
    width: 50%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .note-editing-area .btn-enviar {
        width: 50%;
    }
    .note-editing-area .salto-compe {
        display: block;
    }
    .note-editing-area .mergePreguntas{
        display: block;
    }
    .note-editing-area .center-buttons{
        justify-content: end;
    }
    .note-editing-area .row-form{
        top: 60%;
    }
    .note-editing-area .img-logo-header{
        padding: 1rem;
        height: 100px;
    }
    .note-editing-area #img-intro{
        display: none;
    }
    .note-editing-area .val{
        padding-top: 0px;
    }
    .note-editing-area .header-1 .txt-ea{
        display: none;
    }
    .note-editing-area .header-1 .txt-ee{
        display: block;
    }
    .note-editing-area .header-2 .txt-ea{
        display: block;
    }
    .note-editing-area .header-2 .txt-ee{
        display: none;
    }
    .note-editing-area .metrica{
        margin-top: 0px;
    }
    .note-editing-area .likert-values{
        writing-mode: inherit;
        height: 36px;
    }
    .note-editing-area .metrica p{
        padding-top: 0.25rem;
    }
    .note-editing-area .metricaEA{
        display: none;
    }
    .note-editing-area #EE{
    padding-right: 15px;
    }
    .note-editing-area #EA{
        padding-left: 15px;
    }
    .note-editing-area #mail{
        left: 32rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .note-editing-area .btn-enviar {
        width: 50%;
    }
    .note-editing-area .salto-compe {
        display: block;
    }
    .note-editing-area .mergePreguntas{
        display: block;
    }
    .note-editing-area .center-buttons{
        justify-content: center;
    }
    .note-editing-area .row-form{
        top: 62%;
    }
    .note-editing-area .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
    .note-editing-area #img-intro{
        display: none;
    }
    .note-editing-area .val{
        padding-top: 0px;
    }
    .note-editing-area .header-enfoque{
        float: right;
    }
    .note-editing-area .header-1 .txt-ea{
        display: block;
    }
    .note-editing-area .header-1 .txt-ee{
        display: none;
    }
    .header-2 .txt-ea{
        display: none;
    }
    .note-editing-area .header-2 .txt-ee{
        display: block;
    }
    .note-editing-area .metrica{
        margin-top: 0px;
    }
    .note-editing-area .likert-values{
        writing-mode: inherit;
        height: 36px;
    }
    .note-editing-area .metrica p{
        padding: 0px;
        padding-top: 0.25rem;
    }
    .note-editing-area .metricaEA{
        display: none;
    }
    .note-editing-area #EE{
        padding-right: 0px;
    }
    .note-editing-area #EA{
        padding-left: 0px;
    }
    .note-editing-area #mail{
        left: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .note-editing-area .btn-enviar {
        width: 50%;
    }
    .note-editing-area .salto-compe {
        display: none;
    }
    .note-editing-area .mini-header{
        display: none;
    }
    .note-editing-area .mergePreguntas{
        display: inline-flex;
    }
    .note-editing-area .center-buttons{
        justify-content: center;
    }
    .note-editing-area .row-form{
        top: 60%;
    }
    .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
    .note-editing-area #img-intro{
        display: block;
    }
    .note-editing-area .main-content{
        padding-bottom: 0px;
    }
    .note-editing-area .val{
        padding-top: 0px;
    }
    .note-editing-area .header-enfoque{
        float: right;
    }
    .note-editing-area .header-1 .txt-ea{
        display: block;
    }
    .note-editing-area .header-1 .txt-ee{
        display: none;
    }
    .note-editing-area .header-2 .txt-ea{
        display: none;
    }
    .note-editing-area .header-2 .txt-ee{
        display: block;
    }
    .note-editing-area .metrica{
        margin-top: -8.7rem;
        padding-right: 0px;
        padding-left: 0px;
        left: 15px;
    }
    .note-editing-area .likert-values{
        writing-mode: sideways-lr;
        height: 150px;
    }
    .note-editing-area .metrica p{
        padding: 0px;
        margin-left: -0.1rem;
    }
    .note-editing-area .metricaEA{
        display: block;
    }
    .note-editing-area .main-content-likert{
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .note-editing-area #mail{
        left: 5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .note-editing-area .btn-enviar {
        width: 40%;
    }
    .note-editing-area .salto-compe {
        display: none;
    }
    .note-editing-area .mini-header{
        display: none;
    }
    .note-editing-area .mergePreguntas{
        display: inline-flex;
    }
    .note-editing-area .center-buttons{
        justify-content: center;
    }
    .note-editing-area .row-form{
        top: 68%;
    }
    .note-editing-area .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
    .note-editing-area #img-intro{
        display: block;
    }
    .note-editing-area .main-content{
        padding-bottom: 0px;
    }
    .note-editing-area .val{
        padding-top: 0px;
    }
    .note-editing-area .header-enfoque{
        float: right;
    }
    .note-editing-area .header-1 .txt-ea{
        display: block;
    }
    .note-editing-area .header-1 .txt-ee{
        display: none;
    }
    .note-editing-area .header-2 .txt-ea{
        display: none;
    }
    .note-editing-area .header-2 .txt-ee{
        display: block;
    }
    .note-editing-area .metrica{
        margin-top: -8.7rem;
        padding-right: 0px;
        padding-left: 0px;
        left: 15px;
    }
    .note-editing-area .likert-values{
        writing-mode: sideways-lr;
        height: 150px;
    }
    .note-editing-area .metrica p{
        padding: 0px;
        margin-left: -0.1rem;
    }
    .note-editing-area .metricaEA{
        display: block;
    }
    .note-editing-area .main-content-likert{
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .note-editing-area #mail{
        left: 14rem;
    }
}