@font-face {
    font-family: open-Sans-bold;
    src: url(fonts/OpenSans-Regular.ttf)
}
.header-login{
    opacity: 0.8 !important;
}
.header-encuesta{
    opacity: 1 !important;
}
.footer-login{
    opacity: 0.8 !important;
}
.footer-encuesta{
    opacity: 1 !important;
}
input{
    font-family: open-Sans-bold;
}
/* generales */
.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-responsive {
    /* max-width: 50px;   */
    max-height: 100px; 
}
/* header */
.row-header-clima{
    position: fixed;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.header{
    background-color: #000080;
    opacity: 0.8;
    height: 100px;
}
.img-logo-header{
    padding: 1rem;
    height: 90px;
}

/* footer */
.row-footer-clima{
    position: fixed;
    width: 100%;
    bottom: 0;
    max-width: 100%;
    min-width: 100%;
}
.footer{
    background-color: #000080;
    opacity: 0.8;
    height: 50px;
}
.img-logo-footer{
    padding: 0.5rem;
    height: 40px;
    margin-top: 0.25rem;
}

.bg { 
    /* background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg") no-repeat center center fixed; */
    background: url("../../img/ClimaDinamico/backImageDesktop.jpg") no-repeat center center fixed;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
.login-controls{
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    height: 50px;
    font-size: 20px;
}
.row-form{
    top: 60%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.txt-clave{
    color: #999999;
    text-align: center;
}
.btn-ingresar{
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}
.btn-ingresar:hover{
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}
[type="submit"]:not(:disabled), button:not(:disabled){
    color: #fff;
    text-align: center;
    background-color: #29A8DF;
}
.btn-olvidar{
    background-color: #000000;
    color: #fff;
    opacity: 0.7;
}
[type="button"]:not(:disabled), button:not(:disabled){
    background-color: #000000;
    color: #fff;
    opacity: 0.7;
}
.form-group{
    margin-bottom: 5px !important;
}

/* intro */
.imagen-intro{
    background-image: url(../../img/ClimaDinamico/portadaIntro.jpg);
    background-size: cover;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .row-form{
        top: 60%;
    }
    .img-logo-header{
        padding: 1rem;
        height: 100px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .row-form{
        top: 62%;
    }
    .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .row-form{
        top: 60%;
    }
    .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .row-form{
        top: 68%;
    }
    .img-logo-header{
        padding: 0.6rem;
        height: 100px;
    }
}