
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documentación - Encuestas</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="app" ng-controller="documentacionController as vm" class="container mt-3">
        <div class="parent">
            <div class="header-docs">
                <label>Namespace: <label style="color: #369191">{{ vm.docBL.Assembly.Name }}</label></label><br />
                <label>Assembly: <label style="color: #369191">{{ vm.docBL.Assembly.Name }}.dll</label></label><br />
            </div>
            <div class="child-1">
                <div class="child-2 mt-2 ml-3" ng-repeat="item in vm.docBL.Members.Member">
                    <!--Vista de documento-->
                    <div style="padding: 5px;">
                        <fieldset ng-if="item.Class == item.Name">
                            <h3 class="ml-1">public class {{ item.Class }}</h3>
                        </fieldset>
                        <label ng-if="item.Class == item.Name">Class {{ item.Class }} exposes the following members</label>
                        <div ng-if="item.Class != item.Name" class="ml-2">
                            <label>Name: {{ item.Name }}</label>
                            <label>Descriptión: {{ item.Summary }}</label>
                            <label>Returns: {{ item.Returns }}</label>
                            <div class="params ml-5" ng-repeat="elem in item.Param">
                                <label>Parammetro: {{ elem.Name }}</label>
                            </div>
                        </div>
                    </div>
                    <!--Vista de tabla-->
                    <div hidden class="mt-2">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class</th>
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.docBL.Members.Member">
                                    <td><img src="" /></td>
                                    <td>{{ item.Class }}</td>
                                    <td>{{ item.Name }}</td>
                                    <td>{{ item.Summary }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/scripts/Clima Dinamico/jquery.min.js"></script>
    <script src="~/scripts/AngularJS.js"></script>
    <script src="~/scripts/documentacion.js"></script>
    <style>
        .header-docs{
            height: auto;
            /*background-color: #808080;*/
            font-weight: bold;
        }
        .child-2{
            
        }
        fieldset
        {
            /*border: 2px solid #85a285;*/
            -moz-border-radius:8px;
            -webkit-border-radius:8px;	
            border-radius:8px;	
        }
        legend
        {
          margin-bottom:0px;
          margin-left:16px;
          width: auto;
          font-size: 1rem!important;
          cursor: pointer;
        }
        legend:hover{
            color: #369191;
        }
    </style>
</body>
</html>
