@using Newtonsoft.Json
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Admin/Contenido.cshtml";
}
<script src="~/scripts/Clima Dinamico/jquery.min.js"></script>
<script src="~/scripts/AngularJS.js"></script>
<script src="~/scripts/Clima Dinamico/adminClimaDinamico.js"></script>
<script src="http://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/scripts/linq.js"></script>
<script>
    var _listCompetencias = @Html.Raw(JsonConvert.SerializeObject(new List<ML.Competencia>()));
    var _objCompetencia = @Html.Raw(JsonConvert.SerializeObject(new ML.Competencia()));
    var _objCategoria = @Html.Raw(JsonConvert.SerializeObject(new ML.Categoria()));
</script>
@section H1
{
    <section id="page-title">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-sm-6 bottom-align-left center-vertically-xs">
                    <img class="img-fluid img-page-title" src="~/img/icon-survey.png"> <h1 class="title-page-survey">Encuesta / <span>Categorias</span></h1>
                </div>
            </div>
        </div>
    </section>
}
<div class="content-wrap" id="" ng-app="app">
    <div class="container-fluid px-lg-5" ng-controller="climaController as vm">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <ul class="nav nav-tabs mb-4" id="tabSurvey" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="prev-tab" data-toggle="tab" href="#prev" role="tab" aria-controls="prev" aria-selected="true">Categorias</a>
                    </li>
                    <li hidden class="nav-item">
                        <a class="nav-link" id="manag-tab" data-toggle="tab" href="#manag" role="tab" aria-controls="manag" aria-selected="false">Cargar Layout</a>
                    </li>
                </ul>
                <div class="tab-content" id="tabSurveyContent">
                    <div class="tab-pane fade show active" id="prev" role="tabpanel" aria-labelledby="prev-tab">
                        <div class="section-survey shadow-sm animated fadeInUp">
                            <div class="body-survey">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label>Listado de mis categorias</label><a href="#frm"><button class="btn" onclick="$('.newCompe')[0].removeAttribute('hidden');$('.newCompe').show();" style="float: inline-end">Agregar categoria <i id="noSwal" style="cursor: pointer" class="fas fa-plus"></i></button></a>
                                                <div hidden class="col-md-10 col-sm-10" ng-repeat="item in vm.listCategoria.data track by $index">
                                                    <input ng-if="item.IdCategoria < 39" disabled autocomplete="off" type="text" class="form-control col-8" idCompetencia="{{ item.IdCategoria }}" value="{{ item.Nombre }}" />
                                                    <p>
                                                        <input style="float: inline-start;" ng-if="item.IdCategoria >= 39" autocomplete="off" type="text" class="form-control col-8" idCompetencia="{{ item.IdCategoria }}" value="{{ item.Nombre }}" />
                                                        <i title="Guardar" style="cursor: pointer;" ng-if="item.IdCategoria >= 39" class="fas fa-save col-1" ng-click="vm.UpdateCategoria($event)"></i>
                                                        <i title="Eliminar" style="cursor: pointer;" ng-if="item.IdCategoria >= 39" class="fas fa-trash col-1" ng-click="vm.DeleteCategoria($event)"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-horizontal">
                                            <div class="form-group">

                                                <!--obj-->
                                                <ul id="myUL">
                                                    <li id="" class="mergeContent">
                                                    </li>
                                                </ul>


                                            </div>
                                        </div>

                                        <div hidden class="form-group">
                                            <button class="btn" onclick="$('.newCompe')[0].removeAttribute('hidden');$('.newCompe').show();">Agregar categoria <i id="noSwal" style="cursor: pointer" class="fas fa-plus"></i> </button>
                                        </div>
                                        <div id="frm" class="form-horizontal newCompe" hidden>
                                            <div class="form-group">
                                                <label>Agregar una nueva categoria</label>
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Nombre de la nueva categoria</label>
                                                        <input id="newCategoria" autocomplete="off" type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Descripción de la nueva categoria</label>
                                                        <input id="newCategoriaDes" autocomplete="off" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4 col-sm-6">
                                                    <input type="button" class="btn btn-success" value="Agregar" ng-click="vm.AgregarCategoria()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
i + ul{
    margin-left: 45px;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.check-box::before {
  content: "\2611"; 
  color: dodgerblue;
}

.nested {
  display: block;
}

.active {
  display: block;
}
.mytxt{
    border-radius: 4px;
border: 1px solid #aaa;
background-color: #fbfbfb;
}
</style>
<script>
    var toggler = document.getElementsByClassName("box");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
        });
    }
    $(document).ready(function () {
       
    });
</script>