
@{
    Layout = null;
}
<footer id="footer">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-6">
                <p class="copyrights"><span class="color">DIAGNOSTIC 4U</span> 2020</p>
            </div>
            <div class="col-6">
                <p class="text-support"><i class="far fa-life-ring"></i> SOPORTE</p>
            </div>
        </div>
    </div>
</footer>
