
@{
    Layout = null;
}

<div id="top-bar">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-4 col-sm-5 col-md-5">
                <img src="./img/logo.png" class="logo-header" alt="Logo">
            </div>
            <div class="col-8 col-sm-7 col-md-7">
                <div class="user-info">
                    <span class="color">Hola</span>, Oscar Camacho / <span class="position">Administrador Master</span> <img src="./img/icon-user-male.jpg" class="avatar-header" width="50" height="50" alt="Avatar">
                </div><!--.user-info-->
            </div>
        </div><!--.row-->
    </div><!--.container-fluid-->
</div>
<header id="header">
    <nav class="navbar py-0 px-lg-5">
        <a class="navbar-brand title-section-top" href="#">Escritorio</a>
    </nav>
</header>
